.header {
  padding: 1.0rem;
  top: 0;
  position: fixed;
  background-color: white;
}

.links {
  color: var(--color-grey);
  width: 120px;
  padding: 10px;
  text-align: center;
}

.links:hover {
  background-color: var(--color-grey);
  color: whitesmoke;
  transition: 500ms ease-in;
  border-radius: 2px 2px 20px 2px;
}

.content {
  margin-top: 7rem;
}

.profile-image {
  margin-top: 50px;
  margin-left: 10px ;
  height: 370px;
  width: 220px;
  border-radius: 5px 5px 50px 5px;
  box-shadow: 5px 10px 8px 10px #8584844b;
  position: fixed;
  z-index: 1;
}
