.icons {
  color: rgb(32, 32, 32);
  font-weight: 500;
  font-size: 18px;
  margin: 5px;
}

.footer {
  margin-top: 5px;
  margin-bottom: 10px;
   bottom: 0;
  position: fixed; 
}

@media screen and (max-width: 600px) {
  .icons {
    display: none;
  }
  
  .footer {
    margin-top: 5px;
    margin-bottom: 10px;
    bottom: 0;
    font-size: 12px;
    font-weight: 500;
    position: relative;
  }
}